<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>


    <main>
        <% if ( prods.length > 0 ) { %>
            <div class="grid">
                <% for (let lista of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= lista.nombre %></h1>
                        </header>
                        
                        <div class="card__image">
                            <img src="<%= lista.imagenUrl %>" alt="<%= lista.nombre %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= lista.lugar %></h2>
                            <h2 class="product__cantidad"><%= lista.fecha %></h2>
                            <h2 class="product__cantidad"><%= lista.estado %></h2>
                        </div>
                      
                        <div class="card__actions">
                            <form action="/agregarCarrito" method="POST">
                                <button class="btn">Ver Lista Bodas</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No se encontro ninguna lista</h1>
        <% } %>
    <%- include('../includes/end.ejs') %>